<div class="container" style="padding-top: 40px; padding-bottom: 40px">
  <div class="row">
    <div class="col s6" style="padding-top: 80px">
      <h2 style="line-height: 70px">Envía mensajes usando Nexmo</h2>
      <p style="font-size: 21px; padding-top: 30px">Esta aplicación fue diseñada para el envío de SMS a cualquier celular usando la API Nexmo</p>
      <button class="waves-effect waves-light btn-large deep-purple lighten-1" (click)="irAEnviarMensaje()">Empezar a enviar SMS</button>
    </div>
    <div class="col s6">
      <img src="../../assets/sms.png" alt="">
    </div>
  </div>
</div>
